.title-cards {
  margin-top: 50px;
  margin-bottom: 30px;
}

.title-cards h2 {

  margin-bottom: 8px;
}

.card-list{
    display: flex;
    gap: 10px;
 overflow-x: auto;   /* allows horizontal scrolling */
  scroll-behavior: smooth;  /* optional, smooth scroll */
  -webkit-overflow-scrolling: touch; 

}

.card-list::-webkit-scrollbar{
    display: none;
}
.card-list img{
   width: 240px;
    border-radius: 6px;
    cursor: pointer;
}

.card-list .card{
  position: relative;
}
.card-list .card p{
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

