.navbar{
    width: 100%;
    padding: 20px 6%;
    height: 60px;
    display: flex;      
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%);
    z-index: 1;
}
.navbar-left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.navbar-left img{
    width: 90px;
}
.navbar-left ul{
    display: flex; 
    list-style: none;
    gap: 20px;
}
.navbar-left ul li:hover{
    cursor: pointer;
}



.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-right .icons{
    font-size: 20px;
    cursor: pointer;
}
.navbar-right .profile{
    width: 35px;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-profile{
    display: flex;  
    align-items: center;
    gap: 10px;
}